In [1]:
#Question 1
#Create a function that takes a list of non-negative integers and strings and return a new list
#without the strings.

In [16]:
#ans1
def test1(a):
    l=[]
    for i in a:
        if type(i)==int:
            l.append(i)
    print(l)

In [17]:
test1([1,2,3,"ewdu","wewer",12])

[1, 2, 3, 12]

In [18]:
#q2 Question 2
#The &quot;Reverser&quot; takes a string as input and returns that string in reverse order, with the
#opposite case.

In [29]:
def test2():
    a=input()
    b=a[::-1]
    c=b.swapcase()
    print(c)

In [31]:
test2()

Pranjal
LAJNARp

In [32]:
#q4 Question 4
#Write a function that calculates the factorial of a number recursively.
#Examples
#factorial(5) ➞ 120
#factorial(3) ➞ 6
#factorial(1) ➞ 1
#factorial(0) ➞ 1

In [55]:
def test4(a):
    if a==0:
        print(1)
    else:
            b=1
            for i in range(1,a+1):
                b*=i
                i=i+1
            print(b)

In [58]:
test4(5)

120

In [59]:
#q5 Question 5
#Write a function that moves all elements of one type to the end of the list.

In [76]:
l=[1,2,2,23,2,12,3]
l1=[]
for i in l:
    if l.count(i)>1:
        l1.append(i)
        l.remove(i)
print(l+l1)

[1, 23, 2, 12, 3, 2, 2]

In [91]:
def test5(a):
    l1=[]
    for i in a  :
        if a.count(i)>1:
            l1.append(i)
            a.remove(i)
    print(a+l1)

In [92]:
test5([1,2,22,2,321,11,32,2])

[1, 22, 321, 11, 32, 2, 2, 2]